/about-eclipselink.html
/about-javax.persistence.html
/asm-*.jar
/rebased-asm-*.jar
/derby-*.jar
/derbyshared-*.jar
/eclipselink-*.jar
/javax.persistence_2.1.0.v201304241213.jar
/jinq-all.jar
/jinq-jpa-all.jar
/LICENSE-asm.txt
/LICENSE-derby.txt
/license-eclipselink.html
/license-javax.persistence.html
/NOTICE-derby.txt
/readme-javax.persistence.html
/jarjar-1.4.jar
/COPYING-jarjar.txt
/javax.persistence-2.2.1-unsigned.jar
/jakarta.persistence-api-*.jar
/LICENSE-jakarta.persistence.md
