/about-eclipselink.html
/about-javax.persistence.html
/asm-all-5.0.1.jar
/derby-10.10.1.1.jar
/eclipselink-2.5.1.jar
/javax.persistence_2.1.0.v201304241213.jar
/jinq-all.jar
/LICENSE-asm.txt
/LICENSE-derby.txt
/license-eclipselink.html
/license-javax.persistence.html
/NOTICE-derby.txt
/readme-javax.persistence.html
/jarjar-1.4.jar
/COPYING-jajar.txt
/rebased-asm-all-5.0.1.jar
